<a href="https://colab.research.google.com/github/cyxabima/python-practice-college/blob/main/parctice_problem_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

### 1. Are the following legal Python programs?

In [ ]:
def proc(x):
  return x + 2
def proc(n):
  return 2*n + 1
def main():
  x = proc(5)

main()
# The code as written is valid in Python because Python allows function redefinition, where a later definition of a function overrides any previous definitions with the same name in the same scope.

In [ ]:
def proc(x):
  return x + 2
def main():
  x = proc(5)
  y = proc(4)
main()

In [ ]:
def proc(x):
  print(x + 2)
def main():
  x = proc(5)
main()

7

In [ ]:
def proc(x, y):
  return 2*x + y*y
def main():
  print(proc(5, 4))
main()

26

In [ ]:
def proc(x, y):
  return 2*x + y*y
def main():
  print(proc(5)) # error beacuse proc take two arguments so not valid code
main()

TypeError: proc() missing 1 required positional argument: 'y'

In [ ]:
def proc(x):
  return 2*x
def main():
  print(proc(5, 4)) # takes one arguments but 2 are given
main()

TypeError: proc() takes 1 positional argument but 2 were given

In [ ]:
def proc(x):
  print(2*x*x)
def main():
  proc(5)
main()

50

### 2 The programmer was expecting the following program to print 200. What does it print instead? Why does it print what it does?

In [ ]:
def proc(x):
  x = 2*x*x
def main():
  num = 10
  proc(num) # as we are not returning nor printing in a function so 200 will not printing
  print(num) # here we are actually printing the number 10 so 10 will be printed
main()

10

### 3. Is the following program legal since the variable x is used in two different places (proc and main)? Why or why not?

In [ ]:
def proc(x):
  return 2*x*x
def main():
  x = 10
  print(proc(x))  # because they are part of differnt namespace
main()

200

### 4. Is the following program legal since the actual parameter has a different name from the formal parameter (y vs. x)? Why or why not?

In [ ]:
def proc(x):
  return 2*x*x
  y = 10
print(proc(y))

''' In Python, when you call a function and pass an argument (the actual parameter)
 the value of that argument is copied into the function's formal parameter.
The names of the actual parameter (used in the function call) and the formal parameter
(used in the function definition) are completely independent of each other.'''

200

### 5. Which of the following values could be produced by the call random.randrange(0, 100) function?
a. 34 b. -1 c. 100 d. 0 e. 99

In [ ]:
'''a. 34: ✅ Possible. 34 is within the range [0, 100).
b. -1: ❌ Not Possible. -1 is not in the range [0, 100).
c. 100: ❌ Not Possible. 100 is the upper limit but is excluded.
d. 0: ✅ Possible. 0 is the lower limit and is included.
e. 99: ✅ Possible. 99 is the largest integer in the range [0, 100).'''

### 6. Classify each of the following expressions as legal or illegal.
a. math.sqrt(4.5) b. math.sqrt(4.5, 3.1) c. random.rand(4)

In [ ]:
'''a. math.sqrt(4.5) perfect
b. math.sqrt(4.5, 3.1)  wrong sqrt takes only one arguments
c. random.rand(4) Random  molule has has no metthod or attribute named rand but randint exist'''

### 7. Consider the following function definitions:

In [ ]:
from random import randrange
def fun1(n):
  result = 0
  while n:
    result += n
    n -= 1
  return result

def fun2(stars):
  for i in range(stars + 1):
    print(end="*")
    print()

def fun3(x, y):
  return 2*x*x + 3*y

def fun4(n):
  return 10 <= n <= 20

def fun5(a, b, c):
  return randrange(0, 2)

In [ ]:
print(fun1(5))

15

In [ ]:
print(fun1())  # argument is missing

TypeError: fun1() missing 1 required positional argument: 'n'

In [ ]:
print(fun1(5, 2)) # one argument is extra

TypeError: fun1() takes 1 positional argument but 2 were given

In [ ]:
print(fun2(5)) # as function return None

*
*
*
*
*
*
None

In [ ]:
fun2(5)

*
*
*
*
*
*

In [ ]:
fun2(0)

*

In [ ]:
fun2(-2)
# it is perfectly fine cuz in function range will evaluate as  range(0,-2+1)
# range(0,-1) since there is not integer between them so iteratable object is not created
# so nothing will printed
# original reason
'''
as general formula for range or slicing or any kind of similar operation is
a[i] = start +(step * i)  && untile a[i] < stop if step is +ve else if a[i] > stop cuz for -ve step a[i] is alway less then stop



for example range (0,3)
a[0] = 0 + (0*1) = 0
a[1] = 0 + (1*1) = 1
a[2] = 0 + (2*1) = 2
a [3] = 0 + (3*1) = 3  as here 3 is equal to stop and rule is a[i] should be less than stop so this will not generate


              In short The sequence stops when the condition
              a[i]<stop (for positive step) or
              a[i]>stop (for negative step) is violated.

so here empty range is genrated
              '''

In [ ]:
print(fun3(5, 2))

56

In [ ]:
print(fun3(5.0, 2.0))

56.0

In [ ]:
print(fun3('A', 'B')) # error because A*A is not possible

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
print(fun3(5.0)) # one argument is missing

TypeError: fun3() missing 1 required positional argument: 'y'

In [ ]:
print(fun3(5.0, 0.5, 1.2)) # one argument is extra

TypeError: fun3() takes 2 positional arguments but 3 were given

In [ ]:
print(fun4(15))

True

In [ ]:
print(fun4(5))

False

In [ ]:
print(fun4(5000))

False

In [ ]:
print(fun5()) # argument passing is necessay if these are written in parameter of function definition

TypeError: fun5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [ ]:
print(fun5(4)) # two arguments are missing

TypeError: fun5() missing 2 required positional arguments: 'b' and 'c'

In [ ]:
print(fun3(fun1(3), 3))  # fun3(6,3)

81

In [ ]:
print(fun3(3, fun1(3))) #fun3(3,6)

36

In [ ]:
print(fun1(fun1(fun1(3))))
'''
Decoding :
fun1(fun1(fun1(3))) -> fun1(fun1(6)) -> fun1(21) -> 231
'''

231

### 8. Consider the following function:

In [ ]:
def proc(n):
  if n < 1:
    return 1
  else:
    return proc(n/2)

In [ ]:
proc(0)

1

In [ ]:
proc(1)
# n == 1 so -> else poc(1/2) = n = 0.5 < 1 so return 1

1

In [ ]:
proc(2)
# n > 1 so -> else poc(2/2) = n = 1 -> else poc(1/2) -> 0.5 smaller than 1 so return 1

1

In [ ]:
proc(5)
# n = 5 -> n = 2.5 -> n = 1.75 -> n = 0.875 then return 1

1

In [ ]:
proc(10)
# n = 10 -> n = 5 -> n = 2.5 -> n = 1.75 -> n = 0.875 then return 1

1

### 9. What does the following Python program print?

In [ ]:
def sum(m=0, n=0, r=0):
  return m + n + r

print(sum()) #-> 0 + 0 + 0
print(sum(4)) #-> 4 + 0 +0
print(sum(4, 5)) #-> 4 + 5 +0
print(sum(5, 4))  #-> 5 + 4 +0
print(sum(1, 2, 3)) #-> 1 + 2 +3
print(sum(2.6, 1.0, 3))  #-> 2.6 + 1.0 +3

0
4
9
9
6
6.6

### 10. Consider the following Python code:

In [ ]:
def sum1(n):
  s = 0
  while n > 0:
    s += 1
    n -= 1
  return s

def sum2():
  global val
  s = 0
  while val > 0:
    s += 1
    val -= 1
  return s
def sum3():
  s = 0
  for i in range(val, 0, -1):
    s += 1
  return s

# def main():
  # See each question below for details
  main() # Call main function

a. What is printed if main is written as follows?
def main():
global val
val = 5
print(sum1(5))
print(sum2())
print(sum3())

In [ ]:
# a. What is printed if main is written as follows?
def main():
  global val
  val = 5
  print(sum1(5))
  print(sum2()) # as the function sum2 modified the golbal to zero
  print(sum3()) #there for function sum3 range became (0,0,-1) as 0 is not greater than zero
  #so following the general formula 0 in the range will generated

main() # Call main function

5
5
0

In [ ]:
def main():
  global val
  val = 5
  print(sum1(5))
  print(sum3()) # as val is not modified till yet
  print(sum2())

main()

5
5
5

In [ ]:
def main():
  global val
  val = 5
  print(sum2()) #  modified golobal variable to zero
  print(sum1(5)) # but here new object of int 5 is passed as actual parameter
  print(sum3()) # use global so it is modified to zero

main()

5
5
0


```
d. Which of the functions sum1, sum2, and sum3 produce a side effect? What is the side effect?
Ans: The sum2 function is producing side effect by modifing orginal or global variable of val

e. Which function may not use the val variable?
Ans: sum2 function should not use val as it is modifing the global variable which is producing
side effect instead passing and argument will be better option

f. What is the scope of the variable val? What is its lifetime?
Ans: The scope of Val is Golbal meaning its lifetime remains during the entire excucation of program

g. What is the scope of the variable i? What is its lifetime?
Ans: variable i is the part of sum3 function meaning it scope is local and only avaliable in the
namespace of sum3 function. Its lifetime only remain as soon as the function is runing or in calling stage

h. Which of the functions sum1, sum2, and sum3 demonstrate good functional independence? Why?
Ans: Sum1 function is a function that demostrate functional independence
as it takes and an independent which doesnot depent on any thing.

```

### 11. Consider the following very simple module, found in the file mymod.py:

In [ ]:
""" Provides the increment function, increment. """
def increment(x):
  """ Increments x by 1 and returns the result. """
  return x + 1

In [ ]:
#  A programmer wishes to use the increment function from the mymod.py module. Indicate which, if any, of the
#  following code snippets would work:

#  a.
import mymod
print(increment(4)) # Supposed to print 5 but not produce error increment is not defined

# # b.
import from mymod import increment
print(increment(4)) # Supposed to print 5 throught error cuz wrong syntax

# c
import mymod
print(mymod.increment(4)) # Supposed to print 5 The increment function is part of the mymod namespace, so you must use the full name: mymod.increment.

# # d.
from mymod import increment
print(mymod.increment(4)) ''' Attribute error -> When you use from mymod import increment, you're importing the increment
function directly into your current namespace.
# This means increment is no longer part of the mymod module’s namespace; it is now directly available in your current script.
# Therefore, you cannot access increment through mymod. anymore, as it has been removed from the module's namespace.'''

### 12. Write a function called count_odd to count and return odd numbers in a list. The list is passed as argument to the function.

In [ ]:
def count_odd(l : list) -> int:
  count  = 0
  for i in l:
    if i % 2 :
      count += 1
  return count

count_odd([1,2,3,4,4,5,7])

4

### 13 Write a function Pytha that, given the lengths of the two sides of a right triangle adjacent to the right angle, computes the length of the hypotenuse of the triangle.

In [ ]:
def Pytha(perp: float, base : float) -> float:
  hypo : float  = (perp ** 2 + base ** 2)** 0.5
  return hypo

Pytha(3,4)

5.0

### 14 Write a function called index that inputs a list and a value. If the value is present in the list it returns the indices of all its occurrences in the form a tuple. If the value is not there, it returns an empty tuple. In the program use this return value to print appropriate messages. Do not call any method of object list.

In [ ]:
def indices(list_ : list , value : any) -> tuple:
  indice = ()
  for index , i in enumerate(list_):
    if i == value:
      indice  = indice+(index,)
      # indice  = indice+ tuple(index)  this will not work because tuple/ list want iterable to convert into list or tuple type

  return indice

indices([1,2,3,4,5,4,5,3,1],1)
# indices([1,2,3,4,5,4,5,3,1],0)

(0, 8)

### 15 Implement function abbreviation that takes a day of the week as input and returns its two-letter abbreviation. It returns None if the input is not valid.

In [ ]:
def days_abb(day : str) -> str:
  day  = day.lower()
  days  = ['monday', 'tuesday', 'wednesday' ,'thursday','friday', 'saturday','sunday']
  if day in days:
    return day[0:2].upper()

days_abb('Monday')

'MO'

### 16 Implement function partition that splits a list of soccer players into two groups. It takes a list of first names (strings) as input and creates and returns two new lists which are subsets of the original lists. The function puts the names of those soccer players whose first name starts with a letter between and including A and M, in one list and remaining name in the other.

In [ ]:
def split_list(players_list : list[str]) -> tuple[list,list]:
  playerA_M = []
  nonA_M = []
  for player in players_list:
    if 'A'<= player[0].upper() <= 'M':
      playerA_M.append(player)
    else:
      nonA_M.append(player)
  return playerA_M,nonA_M

players = ["alice", "Bob", "charlie", "Mike", "Zara", "uma", "john"]
playerA_M, nonA_M = split_list(players)
print(playerA_M)
print(nonA_M)

['alice', 'Bob', 'charlie', 'Mike', 'john']
['Zara', 'uma']

### 17. Implement function points that takes as input four numbers x1, y1, x2, y2 that are the coordinates of two points (x1; y1) and (x2; y2) in the plane. Your function should compute and print:  The slope of the line going through the points, unless the line is vertical.  The distance between the two points. If the line is vertical, the value of both slope and distance should be string 'infinity'.

In [ ]:
def point(x1: float , y1: float , x2 : float , y2 :float) -> None:

  if x1 == x2:
    slope  = 'Infinity'
    distance  =  'Infinity'
  else:
    slope  = (y2 - y1 )/ (x2 - x1)
    distance  = ((x2 - x1) ** 2 + (y2-y1) ** 2 ) ** 0.5

  print(f"The slope is {slope} and distance is {distance}")


point(0,0,1,1)
point(0,0,0,1)

The slope is 1.0 and distance is 1.4142135623730951
The slope is Infinity and distance is Infinity

### 18. Write function lastF that takes as input two strings of the form 'FirstName' and 'LastName', respectively, and returns a string of the form 'LastName, F.'. Only the initial should be output for the first name.

In [ ]:
def lastF(first : str , last : str) -> str:
  return f"{last},{first[0]}"

lastF('Albert', 'Camus')

'Camus,A'

### 19. Write a function called print_high that prints a multi-digit decimal number digit-wise, starting from higher order digit.

In [ ]:
def print_high(number : float) -> None:
  new = str(number)
  for i in new:
    if i != '.':
      print(i)

print_high(122.9035)

1
2
2
9
0
3
5